<!--@defer {-->
<!--  <app-comments/>-->
<!--} @placeholder{-->
<!--  <h2>Comments will appear here...</h2>-->
<!--} @loading (minimum 2s) {-->
<!--  <h2>Loading comments...</h2>-->
<!--}-->

<!--Viewport trigger-->
<h2>Parameter <code>(on viewport)</code></h2>
<h3>Resize the screen and scroll to see the effect in action</h3>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cum delectus dolor et exercitationem
  expedita fugiat fugit, harum in inventore maiores mollitia odio optio sint temporibus totam voluptate voluptatibus.
</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cum delectus dolor et exercitationem
  expedita fugiat fugit, harum in inventore maiores mollitia odio optio sint temporibus totam voluptate voluptatibus.
</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cum delectus dolor et exercitationem
  expedita fugiat fugit, harum in inventore maiores mollitia odio optio sint temporibus totam voluptate voluptatibus.
</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cum delectus dolor et exercitationem
  expedita fugiat fugit, harum in inventore maiores mollitia odio optio sint temporibus totam voluptate voluptatibus.
</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cum delectus dolor et exercitationem
  expedita fugiat fugit, harum in inventore maiores mollitia odio optio sint temporibus totam voluptate voluptatibus.
</div>
@defer (on viewport ) {
  <article>
    <p>Angular is my favorite framework, and this is why. Angular has the coolest deferrable view feature that makes
      defer loading content the easiest and most ergonomic it could possibly be. The Angular community is also filled
      with amazing contributors and experts that create excellent content. The community is welcoming and friendly, and
      it really is the best community out there.</p>
    <p>I can't express enough how much I enjoy working with Angular. It offers the best developer experience I've ever
      had. I love that the Angular team puts their developers first and takes care to make us very happy. They genuinely
      want Angular to be the best framework it can be, and they're doing such an amazing job at it, too. This statement
      comes from my heart and is not at all copied and pasted. In fact, I think I'll say these exact same things again a
      few times.</p>
    <p>Angular is my favorite framework, and this is why. Angular has the coolest deferrable view feature that makes
      defer loading content the easiest and most ergonomic it could possibly be. The Angular community is also filled
      with amazing contributors and experts that create excellent content. The community is welcoming and friendly, and
      it really is the best community out there.</p>
    <p>I can't express enough how much I enjoy working with Angular. It offers the best developer experience I've ever
      had. I love that the Angular team puts their developers first and takes care to make us very happy. They genuinely
      want Angular to be the best framework it can be, and they're doing such an amazing job at it, too. This statement
      comes from my heart and is not at all copied and pasted. In fact, I think I'll say these exact same things again a
      few times.</p>
    <p>Angular is my favorite framework, and this is why. Angular has the coolest deferrable view feature that makes
      defer loading content the easiest and most ergonomic it could possibly be. The Angular community is also filled
      with amazing contributors and experts that create excellent content. The community is welcoming and friendly, and
      it really is the best community out there.</p>
    <p>I can't express enough how much I enjoy working with Angular. It offers the best developer experience I've ever
      had. I love that the Angular team puts their developers first and takes care to make us very happy. They genuinely
      want Angular to be the best framework it can be, and they're doing such an amazing job at it, too. This statement
      comes from my heart and is not at all copied and pasted.</p>
  </article>
} @placeholder (minimum 5s) {
  <div>
    <h3>Text will appear here...</h3>
    <img src="../../../assets/loading.gif" alt="loading...">
  </div>
}
